.pdf-content-view {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5.5rem);
  overflow-y: auto;
}

.nav-section {
  display: flex;
  align-items: center;

  .buttons {
    margin-bottom: 0px !important;

    .button {
      margin-bottom: 0px !important;
    }
  }

  margin-top: 5px;
  margin-bottom: 20px;
}
